// base styles
@import '../styles/base';

.forgot-password {
    // max-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-div {
        .forgot-password-instructions {
            margin-bottom: 45px;
            font-size: map-get($map: $fontSizes, $key: lg);

            @include md {
                font-size: map-get($map: $fontSizes, $key: md);
            }

            @include sm {
                font-size: map-get($map: $fontSizes, $key: sm);
            }
        }

        .forgot-password-form {
            width: 75%;

            @include lg {
                width: 77%;
            }
            
            @include md {
                width: 80%;
            }

            @include sm {
                width: 85%;
            }
            
            @include xs {
                width: 92%;
            }
        }
    }
}