* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease 0.1s;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 20px;
    padding: 30px;
    background-color: rgb(195, 185, 153);

    
}