// colors
$blue: #2E6EFF;
$white: #FFFFFF;
$blackish: #030A1B;
$orange: #FE753F;
$light-orange: rgb(255, 132, 0, 0.1);

// font
$main-font: 'Poppins';

// font weights
$regular: 400;
$bold: 500;
$bolder: 600;

// font sizes
$small: 14px;
$medium: 16px;
$eighteen: 18px;
$large: 22px;
$extra-large: 44px;
$xxl: 60px;

// opacity
$point7: 0.7;
$point9: 0.9;

// window size
$maxWidth: 1200px;